*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	background-image:linear-gradient(to top right,rgb(29, 29, 29) 65%,rgb(90, 0, 100));
    color: white;
}
.main{
    display: flex;
    flex-direction: row;
}
.main .left{
    margin-top: 12%;
	margin-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(48, 48, 48);
    border-radius: 15vh ;
    height: 70vh;
	width:9vw;
}
.main .left i{
    margin-top: 4vh;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 3.5vh;
    color: gray;
}
.main .left i:hover{
    cursor: pointer;
	background: -webkit-linear-gradient(green, blue);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.main .right{
    display: flex;
    flex-direction: column;
}
.main .right .top{
    margin-top: 2vh;
    margin-bottom: 5vh;
    width: 175vh;
    border-bottom: 0.25vh solid gray;
}
.main .right .h1{
    font-size: 3.5vh;
	color:cyan;
}
.main .right .h1:hover{
	color:blue;
}

.main .right .top .fin{
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: gray;
}
.main .right .top .fin:hover{
	color:yellow;
}
.main .right .middle1{
    display: flex;
    flex-direction: column;
}
.main .right .middle1 .h4{
	color:khaki
}
.main .right .middle1 .h4:hover{
	color:blue;
	cursor:pointer;
}
.main .right .middle1 .sub{
    margin-top: 3vh;
    display: flex;
	flex-direction:row;
}
.main .right .middle1 .sub .one{
	margin-left:3vw;
	margin-right:3vw;
	background-image:linear-gradient(to bottom right,rgb(48, 48, 48) 65%,violet);
	border-radius:5vh;
	width:17vw;
	height:20vh;
	padding:2vh;
}
.main .right .middle1 .sub .one:hover{
	background-image:linear-gradient(to top left,rgb(48, 48, 48) 65%,violet);
	cursor:pointer;
}
.main .right .middle1 .sub .two{
	margin-left:3vw;
	margin-right:3vw;
	background-image:linear-gradient(to bottom right,rgb(48, 48, 48) 65%,yellow);
	border-radius:5vh;
	width:17vw;
	height:20vh;
	padding:2vh;
}
.main .right .middle1 .sub .two:hover{
	background-image:linear-gradient(to top left,rgb(48, 48, 48) 65%,yellow);
	cursor:pointer;
}
.main .right .middle1 .sub .three{
	margin-left:3vw;
	margin-right:3vw;
	background-image:linear-gradient(to bottom right,rgb(48, 48, 48) 55%,rgb(255, 172, 71));
	border-radius:5vh;
	width:17vw;
	height:20vh;
	padding:2vh;
}
.main .right .middle1 .sub .three:hover{
	background-image:linear-gradient(to top left,rgb(48, 48, 48) 55%,rgb(255, 172, 71));
	cursor:pointer;
}
.main .right .middle1 .sub .four{
	margin-left:3vw;
	margin-right:3vw;
	background-image:linear-gradient(to bottom right,rgb(48, 48, 48) 65%,rgb(58, 228, 255));
	border-radius:5vh;
	width:17vw;
	height:20vh;
	padding:2vh;
}
.main .right .middle1 .sub .four:hover{
	background-image:linear-gradient(to top left,rgb(48, 48, 48) 65%,rgb(58, 228, 255));
	cursor:pointer;
}
.main .right .h3{
	margin-top:2vh;
	margin-bottom:2vh;
	color:orange;
}
.main .right .h3:hover{
	color:purple;
	cursor:pointer;
}
.main .right .middle2{
	display:flex;
	flex-direction:row;
}
.main .right .middle2 .one{
	background-image:linear-gradient(to bottom right,rgb(48, 48, 48) 60%,rgb(210, 255, 0));
	margin-left:3vw;
	margin-right:3vw;
	border-radius:5vh;
	width:17vw;
	height:60vh;
	padding:2vh;
}
.main .right .middle2 .one:hover{
	background-image:linear-gradient(to top left,rgb(48, 48, 48) 65%,rgb(210, 255, 0));
	cursor:pointer;
}
.main .right .middle2 .one img{
	width:15vw;
	height:15vh;
}
.main .right .middle2 .one h4{
	text-align:center;
	margin-top:-2vh;
}
.main .right .middle2 .one .sub{
	margin-top:10vh;
	background-color: rgba(69, 69, 69,0.3);
	border-radius:5vh;
	padding:2vh;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 0.125vh solid rgba(255, 255, 255, 0.2);
}
.main .right .middle2 .two{
	display:flex;
	flex-direction:column;
}
.main .right .middle2 .two .sub1{
	margin-left:3vw;
	margin-right:3vw;
	margin-bottom:5vh;
	background-image:linear-gradient(to bottom right,rgb(48, 48, 48) 65%,rgb(81, 0, 255));
	border-radius:5vh;
	width:17vw;
	height:20vh;
	padding:2vh;
}
.main .right .middle2 .two .sub1:hover{
	background-image:linear-gradient(to top left,rgb(48, 48, 48) 65%,rgb(81, 0, 255));
	cursor:pointer;
}
.main .right .middle2 .two .sub2{
	margin-left:3vw;
	margin-right:3vw;
	background-image:linear-gradient(to bottom right,rgb(48, 48, 48) 65%,rgb(0, 237, 104));
	border-radius:5vh;
	width:17vw;
	height:20vh;
	padding:2vh;
}
.main .right .middle2 .two .sub2:hover{
	background-image:linear-gradient(to top left,rgb(48, 48, 48) 65%,rgb(0, 237, 104));
	cursor:pointer;
}
@media screen and (max-width:767px){
	body{
		background-image:linear-gradient(to top,rgb(29, 29, 29) 75%,rgb(90, 0, 100));
	}
	.main{
		display:flex;
		flex-direction:column;
	}
	.main .left{
		display:flex;
		flex-direction:row;
		height:12vh;
		width:130vw;
		border-radius:5vh;
		justify-content:space-between;
		align-self:center;
		margin-left:100vw;
		padding:1vh;
	}
	.main .right .top h1{
		font-size:10vh;
		margin-left:75vw;
	}
	.main .right .top p{
		font-size:7vh;
		margin-left:75vw;
	}
	.main .right .top{
		text-align:center;
		margin-left:-75vw;
	}
	.main .right .middle1{
		display:flex;
		flex-direction:column;
	}
	.main .right .middle1 .h4{
		font-size:7vh;
		text-align:center;
		margin-left:90vw;
	}
	.main .right .middle1 .sub{
		display:flex;
		flex-direction:column;
		margin-bottom:3vh;
		justify-content:center;
		font-size:5vh;
		margin-left:40vw;
	}
	.main .right .middle1 .sub .one,.main .right .middle1 .sub .two,.main .right .middle1 .sub .three,.main .right .middle1 .sub .four,.main .right .middle2 .two .sub1,.main .right .middle2 .two .sub2{
		width:120vw;
		height:30vh;
		margin-bottom:8vh;
	}
	.main .right .h3{
		font-size:6vh;
		text-align:center;
		margin-left:90vw;
		margin-top:5vh;
	}
	.main .right .middle2{
		display:flex;
		flex-direction:column;
		margin-left:40vw;
		margin-top:5vh;
	}
	.main .right .middle2 .one{
		width:100vw;
		height:75vh;
		margin-bottom:4vh;
	}
	.main .right .middle2 .one img{
		height:20vh;
		width:80vw;
		margin-left:8vw;
	}
	.main .right .middle2 .one h4{
		font-size:5vh;
	}
	.main .right .middle2 .one .sub{
		width:90vw;
		height:30vh;
		margin-bottom:3vh;
		margin-left:2vw;
	}
	.main .right .three img{
		height:100vh;
		width:150vw;
		margin-left:-25vw;
	}
}